#navbar{
    height: 50px;
    width: 100%;
    background-color: black;
    // border: 3px solid red;
    overflow: hidden;
    position: sticky;
    top:0px;
    z-index:10;
    ul{
        list-style-type: none;
        display: flex;
        padding: 10px;
        
        li{
            a{
                font-size: x-large;
                color: white;
                padding: 30px;
                text-decoration: none;
                &:hover{
                    background-color: red;                    
                }
            }
        }
        .login{
            
            margin-left: 650px;
        }
    }
}
